# ==============================
# Build folders
# ==============================
bin/
obj/

# ==============================
# User / IDE files
# ==============================
.vs/
.idea/
.vscode/
*.user
*.suo

# ==============================
# Azure Function secrets
# ==============================
local.settings.json

# ==============================
# App settings (lokalne)
# ==============================
appsettings.Development.json
appsettings.Local.json

# ==============================
# Logs
# ==============================
*.log

# ==============================
# OS files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Environment files
# ==============================
.env